@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Minion Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/MinionPro-Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/MinionPro-It.woff')format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/MinionPro-Medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/MinionPro-MediumIt.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/MinionPro-Semibold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/MinionPro-SemiboldIt.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/MinionPro-BoldCn.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/MinionPro-Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Bold Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src:url('/public/fonts/MinionPro-BoldCnIt.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Minion Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/MinionPro-BoldIt.woff') format('woff');
  }


  @font-face {
    font-family: 'Spectral Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/public/fonts/spectral-regular.woff')format('woff');
    }

    @font-face {
      font-family: 'Spectral Medium';
      font-style: normal;
      font-weight: normal;
      src: url('/public/fonts/spectral-medium.woff')format('woff');
      }
/* Убираем кнопки вверх/вниз */
.custom-scroll::-webkit-scrollbar-button {
  display: none;
}

/* Устанавливаем ширину скроллбара */
.custom-scroll::-webkit-scrollbar {
  width: 6px; 
  margin-left: 10px;/* Ширина вертикального скроллбара */
}

/* Трек скроллбара (фон) */
.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет трека */
  margin: 0 4px; /* Отодвигаем трек от края контейнера */
  border-radius: 8px; /* Скругление трека */
}

/* Бегунок скроллбара */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #888; /* Цвет бегунка */
  border-radius: 8px; /* Скругление краёв */
  min-height: 50px; /* Минимальная высота бегунка */
}

/* При наведении */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет при наведении */
}



